.progress-bar-container {
  background-color: #282828;
  height: 8px;
  border-radius: 10px;
  display: flex;
}

.progress-bar-inner {
  background-color: #FFEA00;
  height: 100%;
  border-radius: 10px
}