@font-face {
  font-family: 'Insignia';
  src: url("./assets/fonts/Insignia.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Insignia', sans-serif;
}

